/* OrderHistory.module.css */

.orderHistoryContainer {
  min-height: 340px;
  background-color: #fff;
}

.orderHistoryContent {
  padding: 20px;
}

.lineSpace {
  margin-bottom: 5px; /* Adjust the value as needed for desired spacing */
}

.lineSpace2 {
  margin-bottom: 30px; /* Adjust the value as needed for desired spacing */
}

.h1 {
  color: #333;
}

.orderInfo {
  background-color: #d9d9d9;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  overflow: hidden;
}

.customerInfo {
  /* display: flex;
  flex-direction: column; */
  float: left;
  width: 50%;
}

.productInfo {
  /* display: flex;
  flex-direction: column; */
  float: right;
  width: 50%;
}

.productRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
   
}

.productRow:last-child {
  border-bottom: none;
}

.productRow img {
  width: 70px; 
  height: 70px;
  object-fit: cover;
  left: 55px;
  position: relative;
}

.totalPrice {
  position: relative;
  margin-top: 10px;
  font-weight: bold;
  left: 593px;
  ;
}

.separatorLine {
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.totalPriceContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
}

.productHeader {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.orderStatus {
  position: relative;
  top: 7px;
  width: 25%;
  left: 550px;
  padding: 10px;
  background-color: #999DEE;
  color: #fff;
  border-radius: 4px;
}